*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 1;
}

.container:hover {
    transform: scale(1.05);
}

h2 {
    font-family: Georgia, serif;
    margin-bottom: 20px;
    color: #24a0e2;
}

input, button {
    margin: 10px 0;
    padding: 15px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #2575fc;
    outline: none;
}

button {
    background-color: #2b3641;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    background-color: #004494;
}

p#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
p#result span#age {
    color: red; 
}
